$maincolor: #404040;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

* {
    @include white-text-black-bg;
}

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;

    a {
        @include white-text-black-bg;
        div {
            margin: 10px;
            font-size: large;
        }
    }
}


// this code is just for demo purposes
.bookmark-card {
  display:flex; 
  justify-content: space-between;
  gap: 1rem;
  width: 200px;
  margin: .5rem;
}

 .update-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #535252f7;
    padding: 30px;
    border-radius: 5px;
    min-width: 300px;
}

